
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


::-webkit-scrollbar {
    width: 14px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #3f3f3f; /* Track color */
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: #3f3f3f; /* Thumb color */
    border-radius: 20px;
    transition: 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #3f3f3f; /* Darker color on hover */
}

/* Firefox Scrollbar */
* {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #3f3f3f transparent; /* Thumb & Track color */
}

.tiptap:focus {
    outline: none !important;
  }
  
  