---
import AuthWrapper from "../components/authWrapper.jsx";
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro Chat App</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <Layout> 
    <div id="root">
      <AuthWrapper client:load />
    </div>
  </Layout>
  </body>
</html>

